@use 'base/variables' as v;
@use 'base/mixins' as m;
.header{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    @include m.tablet{ 
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
    }
    &__logo{
        width: 16rem; 
        margin-bottom: 5rem;
        @include m.desktop { 
            margin-bottom: 0;
         }
    }
}